* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 18px;
}

header{
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero.svg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 80%;
    /* height: 50%; */
    /* background-color: aquamarine; */
    margin: auto;
}

.container nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
    align-items: center;
}

.top-button{
    background-color:white;
    padding: 5px 30px;
    border-radius: 30px;
    box-shadow: 3px 1px 5px 0px;
}

a{
    color: black;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left{
    /* flex: 1; */
    width: 40%;
}

.hero-left h1{
    margin-bottom: 30px;
    /* font-weight: 600px; */
    text-transform: capitalize;

}
.hero-left p{
    font-weight: 400px;
    margin-bottom: 20px;
}

.hero-left a{
    background-color:hsl(322, 100%, 66%);
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    /* box-shadow: 3px 1px 5px 0px; */
}

.hero-right{
    /* flex: 1; */
    width: 50%;
}
.hero-right img{
    width: 100%;
}
